#content {
    text-align: -webkit-center;
    justify-content: center; 
    font-family: 'Arimo', sans-serif;
}

textarea {
    height: 300px;
}

.placeholder {
    background-color: #ECF1FE;
    border: 2px dashed #cbd5e0;
    margin-bottom: 0.25rem;

    /* Size */
    height: 10rem;
    width: 95vw;
}

.modal-content {
    outline:none;
    
    background-color: #A3BCF9;
}

.col-form-label {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.mb-3 {
    text-align: center;
}

.modal-footer {
    border-top: none;
    justify-content: space-between;
}

#button-arrangement {
    display: flex;
    align-items: center;
}

.material-icons {
    font-size: 30px;
    padding: 5px;

    color: #576490;
}

.noteDate {
    color: green
}

#expandNoteTitle {
    color: black

}

#expandNoteContent {
    color: black;
}

#expandNoteDate {
    color: black;
}

#deleteNoteModalLabel {
    color: black;
}


.note {
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    grid-template-rows: 85% 15%;
    background-color: #D1D2F9;
    cursor: move;
    margin-bottom: 0.25rem;
    user-select: none;


    align-items: center;

    justify-content: center;

    /* Size */
    height: 10rem;
    width: 95vw;

    /* Misc */
    border: 1px solid #cbd5e0;
}

.noteContent {
    grid-row: 1 / span 1;
    grid-column: 1 / span 5;
    display: grid;
    align-items: center;
    grid-template-rows: 30% 70%;
    text-align: center;
    max-height: 100%;
    color:black;
}

.noteContentTitle {
    font-size: larger;
    grid-row: 1 / span 1;
    font-size: 24pt;
    font-weight: 600;
}

.noteContentBody {  
    white-space: pre-wrap;
    grid-row: 2 / span 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #576490;
    font-size: 16pt;
    padding: 2px;
    max-height: 100%;
}

.noteReminder {
    grid-row: 2 / span 1;
    grid-column: 1 / span 5;
    text-align: center;
    font-size: larger;
}

#deleteNoteModalButton {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
}

.deleteNoteModalButton #material-icon {
    vertical-align: middle;
    color:black;
}

.bg-info {
    background-color: #FFEDE1!important;
}

.bg-light {
    background-color: #FFEDE1!important;
}

#username {
    text-shadow: 0 1px 4px rgb(37, 183, 183);
}

#expandNoteContent {
    width: 100%;
}

