/* INDEX.HTML */

body {
    font-family: 'Arimo', sans-serif;
    background: linear-gradient(0.25turn, #3dacdb, #e7e7e7, #c5f3a6);
}

#note-logo {
    border-radius: 50%;
    border: 2px double #0dcaf0;
}
